# Compiled files
*.pyc
*.t7
*.h5
*.json
*.ipynb_checkpoints
*.caffemodel
*.html

# Image Datasets
data/images
data/refcoco
data/refclef
data/refcoco+
data/refcoco++

# symlinks
./data/images/saiapr_tc-12
./data/images/mscoco
./cache/data/refcoco_licheng
