# Compiled files
*.pyc
*.t7
*.h5
*.json
*.caffemodel
*.html
*.p
try.lua

# Image Datasets
data/images
data/refcoco
data/refcoco+
data/refclef
data/refcocoG

# cache
cache/data
cache/vis
cache/box
cache/lang

# symlinks
./data/images/saiapr_tc-12
./data/images/mscoco
./cache/data/refcoco_licheng

# jobs
jobs/*